<% if @article.errors.any? %>
    <h2>Article can't be created because of the following errors : </h2>

    <ul>
      <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<div class="row" id="article_form">
  <div class="col-md-12">
    <%= form_for @article do |f| %>
        <div class="form-group">
          <p>
            <%= f.label :title %><br/>
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= f.label :description %><br/>
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article", autofocus: true %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= f.submit class: "btn btn-primary" %>
          </p>
        </div>
    <% end %>
  </div>
</div>
<%= link_to '[Return to article listing]', articles_path %>
<br/>