<%= render 'shared/errors', obj: @article %>

<div class="row" id="article_form">
  <div class="col-md-12">
    <%= form_for @article do |f| %>
        <div class="form-group">
          <p>
            <%= f.label :title %><br/>
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= f.label :description %><br/>
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article", autofocus: true %>
          </p>
        </div>
        <div class="form-group">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
        </div>
        <div class="form-group">
          <p>
            <%= f.submit class: "btn btn-primary" %>
          </p>
        </div>
    <% end %>
  </div>
</div>
<%= link_to '[Cancel and return to article listing]', articles_path %>
<br/>