<h1 align="center">Alpha Bloggers</h1>

<div class="row" style="margin-top: 30px">
  <div class="col-md-4 col-md-offset-4 ">
    <% if @users.blank? %>
        <h2 align="center">Oops! Nothing to display.</h2>
    <% else %>
        <div class="list-group article-listing-title">
          <% @users.each do |user| %>
              <%= link_to user_path(user) do %>
                  <div class="row list-group-item" id="articles_all" >
                    <div class="col-md-4" >
                      <%= gravatar_for(user) %>
                    </div>
                    <div class="col-md-8" >
                      <h5>
                        <%= user.fullname%>
                      </h5>
                      <small>
                        <%= pluralize(user.articles.count, "article") if user.articles %>
                        <br>
                        <% if logged_in? and current_user.admin? %>
                          <strong style="color: darkred"><%= link_to "Delete user", user_path(user), method: :delete %></strong>
                      <% end %>
                      </small>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>

    <% end %>
  </div>
</div>

<div align="center">
  <%= will_paginate %>
</div>